<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kalia.Garry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.kalia.Garry.Bholla.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.kalia.Garry.Bholla.Detail">
        </activity>
        <activity android:name="com.kalia.Garry.Bholla.BookMark">
        </activity>
        <activity android:name="com.kalia.Garry.Bholla.Register">
        </activity>
        <activity android:name="com.kalia.Garry.Bholla.DysonOutlet">
        </activity>
        <activity android:name="com.kalia.Garry.Bholla.DetailsS">
        </activity>
        <activity android:name="com.kalia.Garry.Bholla.FeatureDetail">
        </activity>
        <activity android:name="com.kalia.Garry.Bholla.Categories">
        </activity>
        <activity android:name="com.kalia.Garry.Bholla.Dysons">
        </activity>
    </application>

</manifest>